<div class=".container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
                    <!-- Navbar content -->
                    <a class="navbar-brand" href="#">{{title}}</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <button class="btn btn-outline-light my-2 my-sm-0 ml-auto" type="submit" (click) = "logout()">Logout</button>
                        <!-- <div class="divider"></div>
                        <button class="btn btn-outline-light my-2 my-sm-0 " type="submit" routerLink = "/signup">Sign Up</button> -->
                    </div>
                  </nav>
            </div>
        </div>
    </div>