<div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
              <app-navbar-logout></app-navbar-logout>
              </div>
        </div>

    <div class="row mt-5 pt-5">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <app-input-field [btn_name] ="btn_name" [taskValue] ="taskName" (taskName)="savetask($event)"></app-input-field>
        </div>
        <div class="col-md-4"></div>
        
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <button class="btn btn-dark" (click) = "goBack()">Back</button>
        </div>
        <div class="col-md-4"></div>
        
    </div>
</div>