<div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <app-navbar></app-navbar>
            </div>
        </div>
        <div class="row mt-lg-5 pt-lg-5">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h3>Sign Up</h3>
                <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter Name"
                            formControlName="name">
                        <div *ngIf="form.name.errors && submitted">
                            <div *ngIf="form.name.errors.required" class="error">Name is Required</div>
                            <div *ngIf="form.name.errors.minlength" class="error">Name must have 3 chracters</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter Email"
                            formControlName="email">
                        <div *ngIf="form.email.errors && submitted">
                            <div *ngIf="form.email.errors.required" class="error">Email is Required</div>
                            <div *ngIf="form.email.errors.domain" class="error">Email domain must be gmail.com</div>
                    </div>
                    </div>
                    <div class="form-group">
                            <label for="exampleInputEmail1">Password</label>
                            <input type="password" class="form-control" aria-describedby="emailHelp" placeholder="Enter Password"
                                formControlName="password">
                            <div *ngIf="form.password.errors && submitted">
                                <div *ngIf="form.password.errors.required" class="error">Password is Required</div>
                                <div *ngIf="form.password.errors.minlength" class="error">Password must have 6 chracters</div>
                            </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>